div{
    display: block;
}
.interface{
    margin: 50px;
    padding: auto;
}
section{
    margin: auto;
}
.box{
    float: right;
    text-align: center;
    max-width: 400px;
}
button#creatNewCont{
    background-color: green;
    border-radius: 5px;
    color: white;
}
.footer{
    display: block;
    margin-top: 300px;
}
ul#footer{
    list-style: none;
}
ul#footer li{
    display: inline-block;
}