body{
    background-color: rgb(238, 238, 238);
}
.janela{
    margin: auto;
    padding: auto;
}
.interface{
    display: block;
    max-width: 780px;
}
.cloth{
    display: flex;
}
.mother{
    margin: auto;
    padding: auto;
}
picture{
    display: block;
    width: 200px;
}
picture img{
    width: 100%;
}
section{
    margin: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
section p{
    max-width: 380px;
}
.box{
    float: right;
    text-align: center;
    width: 300px;
}
.introBox{
    background-color: white;
    box-shadow: 0px 0px 10px #636363 ;
    padding: 30px;
}
input{
    width: 100%;
}
button#btnEntrar{
    color: white;
    background-color: blue;
    width: 100%;
}
button#creatNewCont{
    background-color: green;
    border-radius: 5px;
    color: white;
}
footer{
    margin-top: 90px;
}
footer li{
    list-style: none;
    margin: auto;
    display: inline-block;
}